{% extends 'portfolio/base.html' %}
{% block content %}
    <div class="home-wrapper">
        <div class="home-wrapper_profile">
            <h1>Liza's portfolio</h1>
            {% load static %}
            <link rel="stylesheet" href="{% static 'portfolio/style.css' %}" >
            <img src="{% static 'portfolio/photo_2022-05-07_14-58-35.jpg' %}" width="350px" height="350px"/>
        </div>


        <h3>Completed courses</h3>

        <div class="home-wrapper_my-courses">
            {% for project in projects %}
            <div class="my-courses_course-card">
                <div class="course-card_image-wrapper">
                    {% if project.url %}
                    <a href="{{ project.url }}" target="_blank">
                        <img src="{{ project.image.url }}" width="100%"/>
                    </a>
                    {% else %}
                        <img src="{{ project.image.url }}" width="100%"/>
                    {% endif %}
                </div>

                <h2>{{ project.title }}</h2>
                <p>{{ project.description }}</p>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}